version: "3.9"

networks:
  app-network:
    driver: bridge

services:

  backend:
    build: ./backend
    container_name: backend
    restart: always
    networks:
      - app-network
    expose:
      - "8080"

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    networks:
      - app-network
    expose:
      - "80"

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/certbot:/etc/letsencrypt
    depends_on:
      - frontend
      - backend
    networks:
      - app-network
