networks:
  app-network:
    driver: bridge

services:

  backend:
    build: ./ReViSE-backend
    container_name: revise-backend
    restart: always
    networks:
      - app-network
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    expose:
      - "8080"

  frontend:
    build:
      context: ./ReViSE-frontend
      args:
        NEXT_PUBLIC_API_URL: https://test-revise.org
    container_name: revise-frontend
    restart: always
    networks:
      - app-network
    expose:
      - "3000"

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt
    depends_on:
      - frontend
      - backend
    networks:
      - app-network
