networks:
  app-network:
    driver: bridge

services:

  backend:
    build: ./ReViSE-backend
    container_name: revise-backend
    restart: always
    networks:
      - app-network
    expose:
      - "8080"

  frontend:
    build: ./ReViSE-frontend
    container_name: revise-frontend
    restart: always
    networks:
      - app-network
    expose:
      - "3000"
    env_file:
      - ./ReViSE-frontend/.env

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt
    depends_on:
      - frontend
      - backend
    networks:
      - app-network
